<div class="card" style="margin-top: 2.5cm; height: 700px; background-color: transparent;">
    <div class="container rounded bg-white mt-5 mb-5">
        <h5>Confirm order: </h5>
        <hr/>
        <h5>Order Id: {{order.id}}</h5>
        <h5>Comment: {{order.comment}}</h5>
        <h5>Address: {{order.address}}</h5>
        <h5>Price: {{order.price}}$</h5>
        <h5>Status: {{order.status}}</h5>
            
        <div class="divcl"><button style="width: 750px; height: 50px; background-color: rgb(0, 109, 128); border-color: transparent; color: white; font-weight: 700; font-size:larger;" (click)="Confirm()">CONFIRM</button></div>
        <br/>
    </div>
</div>
